@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 4% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 88% 66%;
    --primary-foreground: 213 30% 13%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 215 20% 65%;
    --accent: 174 78% 47%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 262 88% 66%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 4% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 88% 66%;
    --primary-foreground: 213 30% 13%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 215 20% 65%;
    --accent: 174 78% 47%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 262 88% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
